<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

        <!--配置扫描器-->
        <context:component-scan base-package="com.rimi.smp.controller"/>

        <!--开启使用注解配置-->
         <mvc:annotation-driven/>

        <!--配置默认的处理器-->
        <mvc:default-servlet-handler/>

        <!--配置拦截器-->
        <mvc:interceptors>
            <mvc:interceptor>
                <mvc:mapping path="/**/"/>
                <mvc:exclude-mapping path="/js/**"/>
                <mvc:exclude-mapping path="/css/**"/>
                <mvc:exclude-mapping path="/images/**"/>
                <mvc:exclude-mapping path="/ValidateCode"/>
                <mvc:exclude-mapping path="/login"/>
                <mvc:exclude-mapping path="/index"/>
                <mvc:exclude-mapping path="/register"/>
                <mvc:exclude-mapping path="/checkUserName"/>
                <mvc:exclude-mapping path="/checkECode"/>
                <mvc:exclude-mapping path="/mail"/>
                <bean class="com.rimi.smp.interceptor.LoginInterceptor"/>
            </mvc:interceptor>
        </mvc:interceptors>


        <!--配置视图解析器-->
        <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
            <property name="prefix" value="/WEB-INF/jsp/"/>
            <property name="suffix" value=".jsp"/>
        </bean>

        <!--配置文件上传-->
        <bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
            <!--设置编码格式-->
            <property name="defaultEncoding" value="utf-8"/>
            <!--设置一次传输的大小-->
            <property name="maxUploadSize" value="10485760"/>  <!--10*1024*1024-->
        </bean>

</beans>